<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scrapping Challenge</title>
   
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
       
    <!-- glyphicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"> 
  
    <link rel="stylesheet" href="static/styles.css">

</head>

<body style="background-color:white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand" style="color:blue" href="index.html">Mission to Mars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color:red"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-link" style="color:blue"></i>&nbsp;&nbsp;&nbsp;Links</a>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="https://redplanetscience.com/"><i class="bi bi-newspaper" style="color:blue"></i>&nbsp;&nbsp;&nbsp;NASA Mars News</a></li>
                  <li><a class="dropdown-item" href="https://spaceimages-mars.com"><i class="bi bi-images" style="color:blue"></i>&nbsp;&nbsp;&nbsp;Mars Space Images</a></li>
                  <li><a class="dropdown-item" href="https://galaxyfacts-mars.com/"><i class="bi bi-clipboard2-data" style="color:blue"></i>&nbsp;&nbsp;&nbsp;Mars Facts</a></li>
                  <li><a class="dropdown-item" href="https://marshemispheres.com/"><i class="bi bi-globe" style="color:blue"></i>&nbsp;&nbsp;&nbsp;Mars Hemispheres</a></li>
              </ul>
            </li>
          </div>
      </div>
    </nav>

  <!-- (Jumbotron) -->
  <body>
    <div class="container-fluid">
      <div class="jumbotron text-center py-3" style="background-color: lightgrey">
        <h1>Mission to Mars</h1>
        <p>Data that scrapes further than the Dark Side of the Moon!</p>
        <p><a class="btn btn-primary btn-md" href="/scrape" role="button" style="width:35%"><img style="width:50%" src="static/scrape_mars.png" alt="Click to Scrape Image"></a></p>
      </div>
      <p></p>
      <hr>
    <div class="container">

  <!-- ROW 1 (Latest Mars News and Fetured Img) -->
  <div class="container-fluid">
    <div class="row">
          <h2>Latest Mars News:</h2>
            <h2>{{ all_scraped_info.news_title }}</h2>
              <p>{{ all_scraped_info.news_p }}</p>
          <hr>
      </div>
      </br>
    </div>

   <!-- ROW 2 (Featured Image) -->
   <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        </div>
        <div class="container-fluid">
          <h2 class="text-center">Featured Mars Image</h2>
          <a href={{all_scraped_info.featured_image_url}} target="_blank"><img  class="img-responsive center-block d-block mx-auto" width="50%" src={{all_scraped_info.featured_image_url}}></a>
            <p class="text-center"> * Photo courtesy of the Jet Propulsion Laboratory: California Institute of Technology *</p>
          <hr>
        </div>
      </br>

  <!-- ROW 3 (Tables) -->
  <div class="container-fluid">
    <div class="row">    
      <div class="col-lg-6">
        <h2 class="text-left">Mars - Earth Comparison</h2>
          <div class="row justify-content-center">{{ all_scraped_info.facts_table.comparison_profile | safe }}</div>
      </div>

      <div class="col-lg-6">
        <h2 class="text-left">Mars Planet Profile</h2>
          <div class="row justify-content-center">{{ all_scraped_info.facts_table.mars_profile | safe }}</div>
      </div>
      <p></p>
      <p></p>
      <hr>
    </div>
  </div>
    </br>

  <!-- ROW 4 (hemisphere images) -->
  <div class="container-fluid">
    <h2 class="text-center">Mars Hemispheres</h2>
      </div>
      {% for url in all_scraped_info.img_urls %}
        <div class="col-md-3 py-4">
          <a href={{url.img_url}} target="_blank"><img class="img-responsive center-block d-block mx-auto" width="50%" src={{url.img_url}}></a>
          <h3 class="text-center font: medium text-dark">{{url.title}}</h3>
        </div>
      {% endfor %}
      </div>
  </div>   
</div>

</body>
</html>